

html {
    background-color: rgb(54, 61, 68);
    width:100%;
    height:auto;
    overflow: hidden;
}


#canvas{
    background: linear-gradient(0deg, rgb(16, 16, 24), rgb(52, 65, 70));
    /* background-color: rgb(41, 41, 41); */
    border: 1px solid rgb(0, 187, 255);
    width:1088px;
    height:640px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

